#app
  h1 Genius Template
  .logo
    a(href='https://vite.dev/')
      img.logo-vanilla(src="/vite.svg" alt="Vite logo")
    a(href='https://pugjs.org/api/getting-started.html')
      img.logo-pug(src="https://camo.githubusercontent.com/5cdfb20caa55e8f5833718e752040101adc9567ddf5a8bbfac98fc75fcee531e/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667" 
      alt="Pug logo")
  .card
    button#counter(type="button")
    h2 Vite + Pug
    p.read-the-docs Click on the Vite and Pug logos to learn more